:root {
	--lime: #e7ff5d;
	--brown: #462f04;
	--olive: #538521;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
	font-weight: 600;
}
body {
	background-color: #ffffff;
}
.green {
	background-color: var(--olive);
}
.blue {
	background-color: var(--lime);
}
.poster {
	margin: 0 auto;
	width: 600px;
	height: 800px;
	border: 20px solid white;
	background-color: var(--brown);
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 45px 20px 130px 150px 150px 150px 150px 10px;
}
.inner-grid {
	grid-row: span 5;
	display: grid;
	grid-template-columns: repeat(5, 30px);
	grid-template-rows: repeat(4, 146px);
	grid-gap: 5px
}
.grid-small {
	display: grid;
	grid-template: 75px 75px;
	grid-gap: 7px;
}
.circle {
	clip-path: circle(47% at 50% 50%);
	-webkit-clip-path: circle(47% at 50% 50%);
}
.half-circle-180deg--offset {
	clip-path: circle(52% at 50% 0%);
	-webkit-clip-path: circle(52% at 50% 0%);
}
.half-circle {
	clip-path: circle(60% at 50% 100%);
	-webkit-clip-path: circle(60% at 50% 100%);
}
.half-circle-180deg {
	clip-path: circle(60% at 50% 0%);
	-webkit-clip-path: circle(60% at 50% 0%);
}
.triangle {
	clip-path: polygon(0 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.triangle-180deg {
	clip-path: polygon(0 0, 100% 0, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
}
.polygon-lg {
	grid-column: span 2;
	grid-row: span 2;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 100%);
}
.vertical-polygon-sm {
	clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}
.vertical-polygon-lg {
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}
.span-2-cols {
	grid-column: span 2
}
.span-2-rows {
	grid-row: span 2
}
.border-bottom {
	border-bottom: 7px solid var(--brown);
}
.border-top {
	border-top: 7px solid var(--brown);
}
.border-left {
	border-left: 7px solid var(--brown);
}
.border-right {
	border-right: 7px solid var(--brown);
}
p {
	margin-left: 7px;
}
.flush-bottom {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.flush-top {
	position: relative;
	top: -2px;
}
.text-blue {
	color: var(--lime);
}
.text-teal {
	color: var(--brown);
}
.span-3-rows {
	grid-row: span 3;
}
.span-4-rows {
	grid-row: span 4;
}