@font-face {
  font-family: suisseregular;
    src: url(suisseregular.ttf);
}

h1 {
  text-align: left;
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 10px;
  line-height: 80px;
  font-family: suisseregular;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
}



* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
}


div {
  width: 1500px;
  height: 300px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  overflow: auto;
  line-height: 100px;
}

.container-fluid {
  display: grid;
  grid-template-rows: auto auto auto;
  line-height: 100px;
  text-align: left;
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: suisseregular;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
}

a.one:link {
  text-decoration: none;
  color:#022e14;
}

a.one:visited {
  text-decoration: none;
  color:#676a67;
}

a.one:hover {
  color:#e2f7a8;
}

