@media screen and (max-width: 800px){ 
}

@font-face {
  font-family: suisseintregular;
    src: url(suisseintregular.woff);
}

body{
  font-family: suisseintregular;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
  line-height: 40px;
}

h1{
  text-align: left;
  font-family: suisseintregular;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
  margin: 10px 0 20px 0;
}

* {
  box-sizing: border-box;
}


div {
  width: 99vw;
  height: 50px;
  border-top: 1px solid black;
  outline-offset: -1px;
  overflow: auto;
}

.container-fluid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.activity{
  display: grid;
  grid-template-columns: 2fr;
  margin: 2px;
  justify-items: start;
  align-items: start;
}


h2{
  text-align: left;
  margin-top: -1px;
  font-family: suisseintregular;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
}

.one{
  padding: 8px;
  
}

a.one:link {
  text-decoration: none;
  color:#000000;
}

a.one:visited {
  text-decoration: none;
  color:#676a67;
}

a.one:hover {
  color:#e2f7a8;
}

