body{
  background-color: #e2f7a8;
  font-family: abccameravariable;
}

@font-face {
  font-family: abccameravariable;
  src: url(abccameravariable.ttf);
}


h1 {
  font-family:'ABC';
  font-style: normal;
  font-size: 15px;
  color: darkgray
}

div {
  width: 300px;
  height: 750px;
  border: 1.5px solid black;
  overflow: auto;
  line-height: 100px;
}