@font-face {
    font-family: prophet;
      src: url(../prophetvar.woff);
}

ul {
    font-family: prophet;
    font-size: 30px;
    padding-left: 20px;
    vertical-align: baseline;
    color:#0000FF;
}

@media screen and (min-width: 800px) {
    body { 
        --spacing: 32px;
    }
}

h2 {
    font-family: prophet;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 60px;
    vertical-align: baseline;
    text-align: right;
    color:#0000FF;
}


h1{
    font-family: prophet;
    font-size: 250px;
    line-height: 210px;
    vertical-align: baseline;
    padding-top: 30px;
    color:#0000FF;
    transition: all 600ms ease-in-out;
}

h1:hover{
    color: rgb(179, 206, 237);
}


#options li{
    display: inline-block;
    margin-right: var(--spacing);
}


a.one:link {
    text-decoration: none;
    color:#0000FF;
  }
 
  a.one:hover {
    color: rgb(179, 206, 237);
  }