@media screen and (max-width: 800px) { 

}

@font-face {
  font-family: abcmonumentgrotesk-regular;
    src: url(abcmonumentgrotesk-regular.otf);
}



div{
  font-family: abcmonumentgrotesk-regular;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}


h1{
  text-align: left;
  padding-bottom: -20px;
  padding-left: 20px;
  color: #000000;
  font-size: 60px;
  font-family: abcmonumentgrotesk-regular;
}


.column {
  -ms-flex: 30%;
  flex: 32%;
  max-width: 50%;
}

.column2 {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

.column img {
  margin-top: 80px;
  vertical-align: middle;
  width: 100%;
}

.column2 img {
  margin-top: 80px;
  vertical-align: middle;
  width: 80%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0px;
}




.Detail{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  font-size: 20px;
  justify-items: center;
  display: none;
}

.active .Detail{
  display: block;
}