@media screen and (max-width: 800px) { 

}

@font-face {
  font-family: abcmonumentgrotesk-regular;
    src: url(abcmonumentgrotesk-regular.otf);
}

.column {
  -ms-flex: 30%;
  flex: 30%;
  max-width: 50%;
}

.column2 {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

.column img {
  margin-top: 80px;
  vertical-align: middle;
  width: 100%;
}

.column2 img {
  margin-top: 80px;
  vertical-align: middle;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 40px;
}

body{
  font-family: abcmonumentgrotesk-regular;
  font-size: 20px;
}

div{
  font-family: abcmonumentgrotesk-regular;
  text-align: center;
}


img{
  max-width: 90%;
  max-height: 500%;
  top: 0%;
}



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0px;
}
.wrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  display: grid;
  line-height: 100px;
}


h1{
  text-align: left;
  padding-bottom: 0px;
  color: #000000;
  font-size: 60px;
  font-family: abcmonumentgrotesk-regular;
}



.lamp{
  width: 50%;
}


.Info{
  position: fixed;
  text-align: center;  
  font-size: 5rem;
  display: none;
}

.Detail{
  position: fixed;
  text-align: center;  
  font-size: 5rem;
  display: none;
}

/* .active .lamp .Image{
  background-color: black;
} */