@media screen and (max-width: 800px) { 

}

@font-face {
  font-family: abcmonumentgrotesk-regular;
    src: url(abcmonumentgrotesk-regular.otf);
}


h1{
  text-align: left;
  position:fixed;
  padding-left: 20px;
  color: #000000;
  font-size: 60px;
  font-family: abcmonumentgrotesk-regular;
}

div{
  font-family: abcmonumentgrotesk-regular;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}




img{
  width: 100%;
}


#container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 0 0;
  padding: 0 0px;
}

.lamp{
  width: 90%;
  height:auto;
}

.lamp img{
  transition: width .2s ease;
  width: 90%;
}

.lamp img:hover{
  width: 94%;
}



.details{
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  font-size: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: abcmonumentgrotesk-regular;
  z-index: 2;
}

.bkgColor{
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 25%;
}


.details.inactive{
  display: none;
}
