*{
  box-sizing: border-box;
}

.grid1{
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
}
.block{
  background: rgb(255, 206, 31);
  border-radius: 20% 0 0 0;
  filter: drop-shadow(8px 8px rgb(244, 142, 52));
/*  mix-blend-mode: multiply; */

}

