*{
  box-sizing:content-box}

.grid1{
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(16, 2fr);
  margin: 0 auto;
  grid-template-rows: repeat(16, 2fr);
  gap: 2px;
}
.block{
  background: rgb(155, 155, 155);
  border-radius: 40% 0 0 0;
  filter: drop-shadow(3px 3px rgb(3, 8, 60));
  mix-blend-mode: multiply;
/*  mix-blend-mode: multiply; */

}

