@font-face {
    font-family: circularmedium;
      src: url(fonts/circularmedium.otf);
  }

:root{
  --GRAD: 0;
  --wght: 485;
  --pad: 4rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255, 255, 255);
    color:rgb(25, 79, 110);
    font-family: 'Roboto', sans-serif;    font-variation-settings: 'wght' var(--wght), 'GRAD' var(--GRAD);
}

section{
    background: white;
    margin-left: 700px;
    width: 750px;
    padding: var(--pad);
    box-sizing: border-box;
}

h1{
    font-family: 'circularmedium';
    font-size: 4.5rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    font-weight: 800;
    margin-left: 20px;
    color:rgb(3, 25, 46);
  }

div{
    font-family: 'Roboto', sans-serif;  
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    font-weight: 800;
    margin-left: 20px;
    margin-top: -10px;
    }

h2{
  font-family: 'circularmedium';
  font-size: 2.7rem;
  line-height: 2;
  letter-spacing: 0.02rem;
  font-weight: 800;
  color:rgb(3, 25, 46);
}

h3{
    font-family: 'circularmedium';
    font-size: 1.5rem;   
    line-height: 1.5;
    padding-top: 40px;
    color:rgb(3, 25, 46);
}

p{
    font-family: 'Roboto', sans-serif;    
    line-height: 1.4;
    hyphens: auto;
    font-feature-settings: "onum" on;
    
}

h2{
    margin-top: var(--pad);
}

span{
    line-height: 1.5;
}


blockquote{
    font-family: 'Roboto', sans-serif;    
    font-size: 25px;
    margin-top: var(--pad);
    margin-bottom: var(--pad);
    letter-spacing: -0.01em;
    line-height: 1.5;
}

ul{
    font-size: 1em;
    letter-spacing: 0.015em;
    padding-left: 2rem;
}

ul li{
    list-style-type: none;
    text-indent: -5px;
    margin-bottom: 1em;
}
ul li:before{
    content: "○ ";
}
ul li:first-child{
    margin-top: 1em;
}

sup{
    font-feature-settings: "sups" on;
    font-size: 0.8em;
    letter-spacing: 0.1px;
    margin-right: 3px;
}
.sm{
    font-feature-settings: "c2sc" on;
}
.fraction{
    font-feature-settings: "frac" on;
}

.img{
    width: 50px;
    height: 50px;
}


/*option+command+[ for curly quotes*/





