@font-face {
  font-family: suisseintregular;
    src: url(suisseintregular.woff);
}
h1 {
  font-family: suisseintregular;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;  
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
}


* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: row;
}


div {
  width: 1500px;
  height: 100px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  line-height: 100px;
}

.container-fluid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  line-height: 100px;
}

.container-fluid > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: suisseintregular;
  font-weight: 400;
  letter-spacing: -.01rem;
  word-spacing: -0.08rem;
  text-align: left;
  padding-right: 40px;
  padding-left: 20px;
  font-size: 50px;
}

a.one:link {
  text-decoration: none;
  color:#000000;
}

a.one:visited {
  text-decoration: none;
  color:#676a67;
}

a.one:hover {
  color:#e2f7a8;
}
